<h1>Searches#index</h1>
<p>Find me in app/views/searches/index.html.erb</p>


  <% @searches.each do |search| %>
    <tr>
      <td><%= search.search_term %></td>
      <td><%= search.results_count %></td>
      <td><%= link_to 'Show', search_path(search) %></td>
    </tr>
  <% end %>